

/* selección por medio de etiquetas*/

body {
        background-color: rgb(179, 211, 105);
        font-size:small
    }

section { background-color: rgb(20, 196, 158); }

p {
    font-weight: 900;
    margin-top: 0;
    padding: 20px;
    border: 5px;
    border-style: solid;
}


/* selección por medio de Id´s*/
#about-me {
        background-color: brown;
        padding: 15px;
        border: 3px;
        border-style: solid;
        margin: 10px;
    }



/* selección por medio de clases*/
.destacado {
        font-size:50px;
        text-decoration: underline ;
        background-color: aliceblue;
    }

h1 {
    padding-top: 10px;
    padding-left: 20px;
    border: 4px;
    border-style: dotted;
    margin: 7px;
    }